<%- include ('./partials/header') -%>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.tittle %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img clas="ui image centered rounded image"src="<%= blog.image %>" >
        
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
        </div>
    </div>
    
   
    <p><%= blog.body %></p>
</div>
    




<%- include ('./partials/footer') -%>